---
let { href, text } = Astro.props
---
<a
    href={href}
    class="relative shadow-lg inline-flex items-center justify-start inline-block px-8 py-3 overflow-hidden font-bold transition-all bg-red-600 rounded-full hover:bg-white group"
>
    <span
        class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-full"
    ></span>
    <span
        class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-red-600"
        >{text}</span
    ></a
>
