---
import "aos/dist/aos.css";
import ButtonPrimary from "./ButtonPrimary.astro";
import { Image } from "astro:assets";
import bg5 from "../img/bg5.png";
---

<section
    class="relative py-36 bg-gray-900 overflow-hidden"
    id="parallax-spacer"
>
    <div class="absolute inset-0 z-0">
        <Image
            src={bg5}
            alt="Background"
            class="w-full h-full object-cover opacity-50"
        />
    </div>
    <div class="absolute inset-0 bg-gradient-to-b from-gray-700 to-gray-800/80  z-10"></div>
    <div id="particles-js" class="absolute inset-0 z-20"></div>
    <div class="relative z-30 container mx-auto px-4 text-center">
        <h2
            class="text-4xl md:text-5xl lg:text-6xl font-bold text-white mb-4 tracking-wider"
            data-aos="fade-up"
            data-aos-duration="1000"
        >
            Uncovering America's True Identity
        </h2>
        <p
            class="text-xl md:text-2xl text-gray-300 max-w-3xl mx-auto"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="200"
        >
            Join us on a journey through history, culture, and the heart of what
            makes America unique.
        </p>
        <div
            class="mt-6"
            data-aos="fade-up"
            data-aos-duration="1000"
            data-aos-delay="400"
        >
        <a
        id="mid-watch"
        data-umami-event="Watch Now"
        href="https://watch.aicmovie.com"
        class="watch relative shadow-lg inline-flex items-center justify-start inline-block px-8 py-3 overflow-hidden font-bold transition-all bg-red-600 rounded-full hover:bg-white group"
    >
        <span
            class="absolute inset-0 border-0 group-hover:border-[25px] ease-linear duration-100 transition-all border-white rounded-full"
        ></span>
        <span
            class="relative w-full text-left text-white transition-colors duration-200 ease-in-out group-hover:text-red-600"
            >Watch Now</span
        ></a
    >
        </div>
    </div>
</section>

<script>
    // Parallax effect
    const parallaxSection = document.getElementById("parallax-spacer");
    const parallaxImage = parallaxSection.querySelector("img");

    window.addEventListener("scroll", () => {
        const scrollPosition = window.pageYOffset;
        const offset = scrollPosition * 0.5; // Adjust this value to control parallax intensity
        parallaxImage.style.setProperty("--parallax-offset", `${offset}px`);
    });
</script>

<style>
    #parallax-spacer {
        perspective: 1px;
        transform-style: preserve-3d;
    }

    @keyframes float {
        0%,
        100% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-20px);
        }
    }

    .floating {
        animation: float 6s ease-in-out infinite;
    }
</style>
