---
import { Image } from "astro:assets";
import Cover from '../img/poster.jpg';
---

<div class="bg-gradient-to-b from-gray-900 to-gray-700">
  <section class="sm:pt-72 pt-48 pb-0 sm:pb-24 max-w-6xl mx-auto">
    <div id="synopsis" class="container mx-auto px-4 flex flex-col flex-col-reverse md:flex-row items-center">
      <div class="w-full md:w-1/3 mb-8 md:mb-0" data-aos="fade-right" data-aos-duration="1000">
        <Image src={Cover} alt="America's Identity Crisis Movie Cover" class="rounded-2xl shadow-2xl">
      </div>
      <div class="w-full md:w-2/3 mb-12 md:mb-0 md:pl-12 sm:text-justify">
        <h2 class="text-4xl font-bold text-red-600 mb-2" data-aos="fade-up" data-aos-duration="800">America's Identity Crisis</h2>
        <h3 class="text-xl font-semibold text-white mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Stories of Patriots Leading the Charge to Preserve America’s Freedom</h3>
        <p class="text-gray-100 mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">Join Josh Hicks, a recent college graduate, on an eye-opening journey to uncover the truth about America’s founding principles and the courageous patriots striving to preserve them. America’s Identity Crisis explores the country’s Biblical foundation and sheds light on the revisionist history threatening to reshape our national narrative.</p>
        <p class="text-gray-100 mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">As Josh travels across the country, he meets educators, government leaders, religious figures, artists, and families—all standing up to defend America’s core values. From classrooms to living rooms to businesses, this documentary offers a powerful look at the people fighting to keep America true to its founding ideals.</p>
        <p class="text-gray-100 mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">Experience the story of resilience, courage, and the pursuit of truth.</p>
      </div>
    </div>
  </section>
</div>
