---
import { Image } from "astro:assets";
import Cover from '../img/poster.jpg';
---

<div class="bg-gradient-to-b from-gray-900 to-gray-700">
  <section class="sm:pt-72 pt-48 pb-0 sm:pb-24 max-w-6xl mx-auto">
    <div id="synopsis" class="container mx-auto px-4 flex flex-col flex-col-reverse md:flex-row items-center">
      <div class="w-full md:w-1/3 mb-8 md:mb-0" data-aos="fade-right" data-aos-duration="1000">
        <Image src={Cover} alt="America's Identity Crisis Movie Cover" class="rounded-2xl shadow-2xl">
      </div>
      <div class="w-full md:w-2/3 mb-12 md:mb-0 md:pl-12 text-justify">
        <h2 class="text-4xl font-bold text-red-600 mb-2" data-aos="fade-up" data-aos-duration="800">America's Identity Crisis</h2>
        <h3 class="text-xl font-semibold text-white mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">Uncovering the True Foundations of American Liberty</h3>
        <p class="text-lg font-medium text-gray-100 mb-6" data-aos="fade-up" data-aos-duration="800" data-aos-delay="200">Join Josh Hicks on a transformative journey across America.</p>
        <p class="text-gray-100 mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="300">"America's Identity Crisis" follows the journey of Josh Hicks, a recent college graduate whose world is turned upside down when he realizes that much of what he learned about America's history and principles might be based on misinformation. This eye-opening documentary takes viewers on a cross-country quest, as Josh delves into the authentic principles upon which America was founded.</p>
        <p class="text-gray-100 mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">Driven by a thirst for truth, Josh embarks on a mission to uncover the real intent behind the Constitution and Bill of Rights. He conducts in-depth research and interviews with historians, constitutional scholars, and educators, peeling back the layers of revisionist history.</p>
        <p class="text-gray-100 mb-4" data-aos="fade-up" data-aos-duration="800" data-aos-delay="500">As the journey progresses, Josh encounters a diverse network of modern-day patriots—educators, activists, and ordinary citizens—who are dedicated to preserving America's founding ideals. These unsung heroes share their stories of resistance against what they see as a growing socialist influence in society, offering a compelling narrative of resilience and dedication to traditional American values.</p>
        <p class="text-gray-100" data-aos="fade-up" data-aos-duration="800" data-aos-delay="600">From the prestigious halls of Ivy League universities to small-town community centers, and from bustling city streets to the quiet corners of rural America, "America's Identity Crisis" challenges viewers to question the information they've been taught and to reconsider the true nature of American liberty and governance.</p>
      </div>
    </div>
  </section>
</div>